<div class="center login">
    <div class="header">
        <h2>Cadastrar</h2>
    </div>
    <div class="field">
        <form>
            <input placeholder="Informe o seu nome" type="text" class="form-control" name="nome" [(ngModel)]="atendenteForm.name">
            <input placeholder="Informe o seu número" mask="(00) 00000-0000" class="form-control" name="phone" [(ngModel)]="atendenteForm.phone" />
            <input placeholder="Informe a sua senha" type="password" class="form-control" name="senha" [(ngModel)]="atendenteForm.senha" />
            <input placeholder="Confirme a sua senha" type="password" class="form-control" name="confirmacao" [(ngModel)]="atendenteForm.confirmacao" />
            <div>
                <label for="arquivo">Imagem</label>
                <input type="file" class="" name="arquivo" id="arquivo" (change)="onChange($event) " placeholder="Imagem">
            </div>
        </form>
    </div>
    <div class="button">
        <button class="btn btn-sm btn-primary" (click)="salveAtendente()">Cadastrar</button>
    </div>
    <div class="signup">
        <a class="signup_text" routerLink="/login">Já tenho cadastro</a>
    </div>
</div>