/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    background: rgba(95, 158, 160, .3) !important;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header h2 {
    color: white;
}

.error {}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
